html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 207, 206);
}

img {
    max-width: 100%;
}

.app {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 15px;
    margin: 0 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 230px;
    width: calc((100% / 3) - 20px);
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.card.delivered {
    border: 5px solid rgb(50, 177, 50);
}

.card.canceled {
    border: 5px solid rgb(189, 102, 78);
}

.card__title {
    margin: 0;
    margin-bottom: 5px;
}

.card__text {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.card__btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    color: rgb(23, 104, 225);
    border: 1px solid rgb(23, 104, 225);
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    transition: all ease-in-out .3s;
}

.card__btn:hover {
    color: white;
    background-color: rgb(23, 104, 225);
}

.card__btn:active {
    background-color: rgb(10, 67, 154);
}

.modal__parent {
    position: fixed;
    inset: 0;
    z-index: 500;
    display: flex;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .8);
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.modal__form-wrapper {
    position: relative;
    width: 100%;
    padding: 25px 30px;
    border-radius: 8px;
    background-color: white;
    margin: auto;
    max-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.modal__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
    color: black;
}

.btn-modal-reset {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 0;
    font-size: 18px;
    font-weight: 700;
}

.form input,
.form__select {
    width: 100%;
    border: 1px solid rgb(148, 147, 147);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.form__submit {
    width: 100%;
    background-color: rgb(55, 72, 205);
    color: white;
    border-radius: 10px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.form__submit:hover {
    background-color: rgb(101, 118, 245);
}

.form__submit:active {
    background-color: rgb(25, 37, 127);
}